body {
    background-color: black;
    text-align: center;
}

h1 {
    color: white;
    font-family: Arial;
}

#myCanvas {
    background-color: #2a5;
}

button {
    background-color: white;
    font-size: 20px;
    padding: 5px 7px 7px 5px;
    border: none;
    border-radius: 5px;
    text-shadow: 1px 1px black;
    cursor: pointer;
    height: 150;
    width: 300;
}

#sensors ul li img {
    width: 150px;
    height: 150px;
    transition: transform 0.2s ease-in-out; /* Ajoute une transition pour un effet plus doux */
}

#sensors ul li img:hover {
    transform: scale(1.1); /* Agrandit l'icône au survol */
    opacity: 0.7; /* Diminue l'opacité au survol */
}